  <!-- Contact -->
<div id="contact">
   <!-- Google Map -->
   <div class="gmap">
      <div id="map" class="map height-400" ng-init="initMap()"></div>
      <!--address class="gmap-address"-->
      <div class='container' style='margin-top: 15px;'>
         <div class="row">
            <div class="col-md-6">
               <div class="col-md-12 foundation">
                  <h3>Tech street (Unit of V.R.Enterprises)</h3>
                  <div class="col-md-12 foundation_sm">
                     <ul>
                        <li><i class="fa fa-address-card-o" aria-hidden="true"></i>111/119 Ramtrith Marg </li>
                        <li><i aria-hidden="true"></i>Mansarovar </li>
                        <li><i aria-hidden="true"></i>Jaipur 302020 </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Phone Number</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="col-md-12 foundation">
                  <h3>Digital Planet </h3>
                  <div class="col-md-12 foundation_sm">
                     <ul>
                        <li><i class="fa fa-address-card-o" aria-hidden="true"></i>Shop No. 120</li>
                        <li><i aria-hidden="true"></i>Mansarover Plaza Madan Marg  </li>
                        <li><i aria-hidden="true"></i>Mansarover</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>Jaipur 302020 </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/address-->
   </div>
   <!-- End Google Map -->
</div>